### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Maven Wrapper
.mvn/
!/.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iml
*.ipr
*.iws

# IntelliJ output directories
out/

### Java ###
*.class
*.log

### JavaFX build artifacts ###
**/module-info.class

### OS ###
.DS_Store
Thumbs.db

### VS Code ###
.vscode/

### Eclipse ###
.classpath
.project
.settings/
.factorypath
.apt_generated
.springBeans
.sts4-cache

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Kotlin (if the project has any mixed code) ###
.kotlin/
